html,body {
    padding: 0;
    margin: 0;
}

body{
    background: #a0d5d3;
    font-size: 1.8rem;
    font-family: 'Bakbak One', cursive;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz{
    background-color: #f1e5e5cc;
    width: 65rem;
    padding: 4rem;
    text-align: center;
}

h1{
    color: #2e2222;
    font-size: 3rem;
    text-align: center;
    padding:  2px 0;
}

#question{
    font-size:  1.9rem;
    color: #311b1b;
}

.button{
    display: inline-block;
    border-radius: 4px;
    background-color: #0b60afb4;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 450px;
    margin: 15px;
    outline: 0;

    font-size: 1.5rem;
    font-family: 'Bakbak One', cursive;
}

.button:hover{
    cursor: pointer;
    background: #01e1ffd0 ;
} 

#progreso{
    font-size:1.3rem;
}

.vol{
  height: 480px;
    width: 350px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    border: rgb(170, 170, 170) 1px solid;
    padding: 20px;
    width: 404.9px;
    outline: 0;
    margin: 15px auto;
    font-size: 1.5rem;
    font-family: 'Bakbak One', cursive;
}


::placeholder {
  /* Se aplica específicamente
     al texto del placeholder */
  color: rgb(214, 214, 214);
}

form .button {
    margin: 15px auto;
}


#historial {
  font-size: 20px;
  list-style: none;
}


/* ---------------------codigo de santa------------------------------------------------------------------------------------------------------ */




.container{
    height: 480px;
    width: 350px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 86%;
  }
  svg{
      position: absolute;
      top: 0;
      left: 0;
  }
  .plane{
    position: relative;
    -webkit-animation: float 3s infinite;
            animation: float 3s infinite;
  }
  @-webkit-keyframes float{
    50%{
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
    }
  }
  @keyframes float{
    50%{
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
    }
  }
  .hand{
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-animation: wave 1.5s infinite;
            animation: wave 1.5s infinite;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center; 
  }
  .blade{
    -webkit-animation:spin 1s infinite linear;
            animation:spin 1s infinite linear;
    -webkit-transform-origin: 50% 54%;
        -ms-transform-origin: 50% 54%;
            transform-origin: 50% 54%;
  }
  @-webkit-keyframes spin{
    100%{
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @keyframes spin{
    100%{
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @-webkit-keyframes wave{
    50%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
  }
  @keyframes wave{
    50%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
  }
  a{
      color: white;
      font-family: "Poppins",sans-serif;
      position:absolute;
      right:20px ;
      top:20px;
      border:2px solid white;
      text-decoration:none;
  }

  #volver {
    background-color: #0b60afb4;
    padding: 20px 60px;
  }

  #nombreJugador {
    position: absolute;
    left: 50px;
    top: 0;
  }

  @media screen and (min-width: 451px) {
    a{
      font-size: 20px;
       padding:8px 12px 8px 12px;
    }
  }
  
  @media screen and (max-width: 450px) {
    a{
      font-size: 14px;
       padding:5px 8px 5px 8px;
    }
  }